@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
  margin: 0;
  height: 100vh;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #4D5053;
  background-color: white;
}

a{
    text-decoration: none;
}
