#hero {
  background-image: url("../../assets/hero.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  border-radius: 20px;
  height: 400px;
  width: 60%;
  padding: 50px;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 55px;
  color: #000000;
}

.hero-text {
  width: 40%;
}

@media (max-width: 768px) {
  .hero-text {
    width: 100%;
  }
}

@media (max-width: 568px) {
  .hero h1 {
    font-size: 50px;
  }
}
