.button {
  border-radius: 18px;
  border: none;
  column-gap: 10px;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  padding: 25px 50px;
  transition: background-color 0.3s ease;
}

.button.primary {
  background-color: #0c70f2;
  font-family: "Jost";
  color: white;
}

.button.primary:hover {
  background-color: #0056b3;
}

.button.secondary {
  background-color: white;
  color: #0c70f2;
}

.button.secondary:hover {
  background-color: #4d4d4d;
  color: white;
}

.button.default {
  background-color: #1d1d1d;
  color: white;
}

.button.default:hover {
  background-color: #0c70f2;
}

.button:disabled,
.button.disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
