footer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#frase {
  width: 30%;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#pages {
  display: flex;
  flex-direction: column;
}

#pages nav ul,
#contact {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socialmedia img {
  width: 18px;
  height: 18px;
}
