header{
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

nav {
    width: 25%;
}

nav a{
    color: #1d1d1d;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color: #0C70F2;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

header ul li{
    margin: 0;
    padding: 0;
}




