header {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.mobile-menu {
  display: none;
}

nav {
  display: flex;
  padding: 0;
  margin: 0;
}

nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

nav a:hover {
  color: #0c70f2;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

header ul li {
  margin: 0;
  padding: 0 0 0 50px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  nav.open {
    align-items: end;
    display: flex;
  }
  nav {
    background-color: #1d1d1d;
    height: 100%;
    width: 55%;
    display: none;
    flex-direction: column;
    padding: 37px;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    box-shadow: -50vw 0 0 0 rgba(0, 0, 0, 0.75);
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    display: flex;
  }

  nav a {
    border-bottom: 1px solid white;
    color: 20px;
    font-size: 20px;
    margin: 0 0 10px 0;
    padding: 12px;
    text-decoration: none;
    width: 100%;
  }

  .mobile-menu {
    display: block;
  }

  .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    margin: 0 0 12px 0;
    padding: 12px;
    width: fit-content;
    cursor: pointer;
  }

  .logo img {
    max-height: 30px;
  }
}
