#banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: yellow;
  background-position: center;
  background-size: cover;
  height: 250px;
  background-color: #ccc;
}

.titlebanner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px 10px 0 0;
  font-size: 30px;
  height: 100%;
  margin: 0 auto;
  padding: 15px 30px;
  max-width: 500px;
}
